.login-popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    z-index: 1;
    display:grid;
}
.login-container {
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding :25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadein 0.5s;
}
.login-tittle {
    display: flex;
    justify-content: space-between;
    align-items: Center;
}
.login-popup img {
    width : 16px;
    cursor: pointer;
}
.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-inputs input {
    outline: none;
    border:1px solid #c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.login-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
    cursor: pointer;
}
.login-popup p span {
    cursor: pointer;
    color: tomato;
    font-weight: 500;
}